	<div class="screwingaroundheader">Test header</div>
<div class="screwingaround">

<p>This is my RoR and HTML/Javascript/CSS playground.</p>

<p>See, I am not just a one trick pony.</p>

<p>My main blog is a <a href="http://www.joshuwa.com/">Joshuwa.com</a></p>

<p>You can also find me on <a href="https://github.com/joshuwa/">GitHub</a></p>
</div>


<div class="screwingaroundheader threeHundred">Test header 2</div>
<div class="screwingaround threeHundred">
<ul>
	<li>item 1 <span class="sexy_line"></span></li>
	<li>item 2 <span class="sexy_line"></span></li>
	<li>item 3 <span class="sexy_line"></span></li>		
</ul>
</div>