/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

@font-face {
  font-family: 'SAKURA';
  src:url('SAKURA.eot');
  src:url('SAKURA.eot?#iefix') format('embedded-opentype'),
    url('SAKURA.svg#icomoon') format('svg'),
    url('SAKURA.woff') format('woff'),
    url('SAKURA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
 }

body {
	background-color:#1A1A20;
	margin: 0px;
	padding: 0px;
	color:#908DA6;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	}
	
#container {
   height:100%;
}	
	
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

header {
	background-color:#0c0b37;
	border-bottom: thin solid #7A6DA6;
	height: 100px;
	
	}
	

header h1 {
	float: left;
	color:#7A6DA6;
	font-family: SAKURA, Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding-left: 20px;
	padding-top: 45px;
	letter-spacing: 30px;
	}
	
header .gravatar {
	margin: 10px;
	float: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-radius: 5px;
	border: thin solid #69ae95;
}	
	
footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:40px;   /* Height of the footer */
	border-top: thin solid #7A6DA6;
	background-color:#262626;
	text-align: center;
	color: #908DA6;
	padding-top: 20px;
}

a {
	color: #77A68B;
	text-decoration: none;
}

a:hover {
	color: #8BE01D;
	text-decoration: underline;
}


.screwingaround{
	-moz-border-radius-bottomleft: 14px;
	-moz-border-radius-bottomright: 14px;
	-webkit-border-bottom-left-radius: 14px;
	-webkit-border-bottom-right-radius: 14px;
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;	
	background-color: #151515;
	padding-left: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: small;
}


.screwingaroundheader{
	-moz-border-radius-topleft: 14px;
	-moz-border-radius-topright: 14px;
	-webkit-border-top-left-radius: 14px;
	-webkit-border-top-right-radius: 14px;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	background-color: #262626;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #6caeff;
	font-size: medium;
	font-family: sakura, Verdana, Geneva, Arial, Helvetica, sans-serif;
	letter-spacing: 10px;
	text-align: left;
}