<!DOCTYPE html>
<html>
<head>
  <title>Etherbasket</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<area id="container">
		<header>
				<h1>E T H E R &nbsp; B A S K E T</h1>					
		</header>
	
		<article id="body">
		
			<%= yield %>
		
		</article>
	
		<footer>
			&copy; Copyright 2013 Joshuwa Jenkins
		</footer>	
	</area>
</body>
</html>
